#aboutBox {
  display: flex;
  justify-content: center;
  height: 8vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: 'Myungjo';
  font-weight: bold;
}

.typewriter {
	width: 4ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 3s steps(18) alternate infinite;
    line-height: initial;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 8.5ch; 
  }
}
