#logo {
    width: 200px !important;
}

#login {
    margin-left: 240px;
}

#navbar-collapse {
    text-align: center;
}

#search {
    width: 200px;
    height: 30px;
    border: none;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, #f5db86, #cface0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 5px;
}

#search:focus{ 	
    border: none;
    outline: none;
    }

#submit {
    border: none;
    background-image: linear-gradient(to right, #D8B7CC, #D7B6CD);
}

#submit:focus{ 	
    border: none;
    outline: none;
    }

.best {
    text-align: center;
    padding : 100px 0;
    margin-bottom: -60px;
}

.steady {
    text-align: center;
    padding : 100px 0;
    margin-top: 200px;
    margin-bottom: -60px;
}

#container-fluid {
    justify-items: center;
}
