
#logo {
    margin-top: 47px;
    width: 320px;
}


.logo-wrap {
	width: 100%;
    height: 360px;
    position: absolute;
    top: 0px;
    left: 0;
}

.logo-center {
	display: flex;
    text-align: center!important;
    justify-content: center;
    align-items: center;
}

.logo-posi {
	width: 100%;
    position: absolute;
    top: 0;
    margin-top: 66px;
	
}

#login {
    margin-left: 240px;
}

#navbar-collapse {
    text-align: center;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom :0;
	margin-right:0;
}

#search {
    width: 200px;
    height: 30px;
    border: none;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(#8D7B68);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
}

#search:focus{ 	
    border: none;
    outline: none;
    }

#submit {
    border: none;
    background-color: white;
	margin-left: 48px;
}

#submit:focus{ 	
    border: none;
    outline: none;
    }

#detailbtn {
	border-radius: 5px;
	float: right;
	margin-top: -50px;
}

#post-meta {
	margin: 30px;
}

#textbox {
	margin: 30px;
}

#textcontent{
      width: 100%;

}

.more {
	margin-left: 400px;
}

.best {
    text-align: center;
    padding : 100px 0;
    margin-bottom: -178px;
    color: #372415 !important;
    margin-top: 179px;
}

#row {
	text-align: center;
}

.steady {
    text-align: center;
    /* padding: 100px 0; */
    margin-top: 80px;
    margin-bottom: -60px;
}

#container-fluid {
    justify-items: center;
}

.post-body {
	width: 1140px;
}

#similer {
	text-align: center;
}

#similer img {
	width: 100%;
	height: 350px;
	object-fit: inherit;
	border: 1px solid rgba(0,0,0,0.15);
}

#represent {
	text-align: center;
}

#represent img{
	width: 100%;
	height: 350px;
	object-fit: inherit;
	border: 1px solid rgba(0,0,0,0.15);
}

#categoryList {
    flex: 1;
    height: auto;
    min-width: 220px;
}

#categorySticky {
	position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#category {
	width: 234px;
}

#none {
	width: 300px; 
	margin-top: 30px;
}

#noneBox {
	text-align: center;
}


#reviewarea-l {
	width: 365px;
	height: 761px;
	justify-content: center;
	margin: 0px;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#reviewarea-r {
	width: 365px;
	height: 761px;
	justify-content: center;
	margin: 0px;
	float: right;
}

#m-auto {
	margin-left: 270px;
	float: left;
	margin-top: -40px;
}

.sbookList {
	height: 520px;
}

.sbookList img {
	width: 100%;
	height: 350px;
	object-fit: inherit;
	border: 1px solid rgba(0,0,0,0.15);
}

#img-fluid {
	width: 100%;
	height: 350px;
	object-fit: inherit;
	border: 1px solid rgba(0,0,0,0.15);
}

.post-block-wrapper  .img-fluid {
	width: 100%;
	height: 350px;
	object-fit: inherit;
	border: 1px solid rgba(0,0,0,0.15);
}

#search_toggle {
	width: 400px;
	height: 30px;
	background-color: white;
	border-radius: 40px;
	text-align: center;
}

#title-link {
  width: 110px;
  height: 30px;
  background-size: 20px;
  padding: 3px 30px 30px 30px;
  border-radius: 40px;
  outline: 0 none;
  text-align: center;
  border: 1px solid #8D7B68;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .3em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 10px; /* 원하는 위치로 조정하세요. */
    top: 50%;
    transform: translateY(-50%);
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px !important;

}

#bpadding {
	margin-bottom: -309px;
	z-index: 999;
	position: relative;
}
#aboutText img{
	width: 20px; 
	margin-top: -3px;
}
/* 로딩 관련 css */
.loading {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  background-color: #8D7B68;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
  margin: 0px 10px
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
/* 로딩 관련 css 끝 */


/* 워드 클라우드 css*/
#wordcloud {
	width: 583px;
	height: 500px;
    font-family: 'Myungjo' !important;
    font-size: 16px;
    text-align: center;
}

.jqcloud span.w10 {
  color: #432818 !important;
}
.jqcloud span.w9 {
  color: #59341D !important;
}
.jqcloud span.w8 {
  color: #643A1F !important;
}
.jqcloud span.w7 {
  color: #6E4021 !important;
}
.jqcloud span.w6 {
  color: #844C26 !important;
}
.jqcloud span.w5 {
  color: #99582A !important;
}
.jqcloud span.w4 {
  color: #A26736 !important;
}
.jqcloud span.w3 {
  color: #AA7641 !important;
}
.jqcloud span.w2 {
  color: #BB9457 !important;
}
.jqcloud span.w1 {
  color: #C19E66 !important;
}

.bg-wrap {
	margin-top: 100px;
	
}

.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    width: 1140px !important;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.list-group-item-action:hover {
	color: #495057;
	text-decoration: none;
	background-color: #ffc450;
}
.list-group-item{
	background-color:#fffcf6;
}

#idea {
	margin-left: 350px;
    margin-top: -29px;
    border: none;
    width: 25px !important;
}

#tooltip {
	position: relative;
    display: block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #8D7B68;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: 90px;
    margin-top: -34px;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}