<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.fanfeed.mapper.FanFeedMapper">

<!-- 회원가입 -->
<insert id="join" parameterType="kr.fanfeed.entity.Member">
	INSERT INTO MEMBER(ID, PW, EMAIL, NICK, REG_DATE)
	VALUES (#{id}, #{pw},#{email}, #{nick}, sysdate)
</insert>

<!-- 로그인 -->
<select id="login" parameterType="kr.fanfeed.entity.Member" resultType="kr.fanfeed.entity.Member">
	SELECT *
	  FROM MEMBER
	 WHERE ID = #{id}
	   AND PW = #{pw}
</select>

<!-- 메인페이지 책리스트 조회 -->
<select id="getBestListBook" resultType="kr.fanfeed.entity.Book">
	SELECT *
	  FROM BOOK
	 WHERE SEQ &gt;= 1
	   AND SEQ &lt;= 10
</select>

<!-- 스테디셀러 책리스트 조회 + 페이징 -->
<select id="getListBook" parameterType="kr.fanfeed.entity.MainCriteria" resultType="kr.fanfeed.entity.Book">
	SELECT *
	FROM (
	    SELECT ROWNUM RN, T.*
	    FROM (
	        SELECT *
	        FROM BOOK
	        ORDER BY seq ASC
	    ) T
    WHERE ROWNUM &lt;= (#{pageStart} + #{perPageNum} - 1)
)
WHERE RN &gt;= #{pageStart}
</select>

<!-- 책 단건 조회 -->
<select id="getOneBook" resultType="kr.fanfeed.entity.Book">
	SELECT *
	  FROM BOOK
	 WHERE ISBN = #{isbn}
</select>

<!-- 페이징처리에 쓸 전체 개수 조회 -->
<select id="totalBookCount" resultType="java.lang.Integer">
	SELECT COUNT(*)
	  FROM BOOK
</select> 

<!-- 카테고리 별 책 조회 -->
<select id="getCategoryBook" resultType="kr.fanfeed.entity.Book">
	SELECT *
	  FROM BOOK
	 WHERE CATEGORY = #{category}
	 ORDER BY SEQ
</select>

<!-- 리뷰리스트 조회 + 페이징 -->
<select id="getListReview" resultType="kr.fanfeed.entity.Review">
	SELECT *
	FROM (
	    SELECT ROWNUM RN, T.*
	    FROM (
	        SELECT *
			FROM REVIEW
			WHERE ISBN = #{isbn}
			ORDER BY TO_DATE(DATETIME, 'YYYY-MM-DD') DESC
	    ) T
    WHERE ROWNUM &lt;= (#{cri.pageStart} + #{cri.perPageNum} - 1)
	)
	WHERE RN &gt;= #{cri.pageStart}
</select>

<!-- 페이징처리에 쓸 리뷰 개수 조회 -->
<select id="totalReviewCount" resultType="java.lang.Integer">
	SELECT COUNT(*)
	  FROM REVIEW
	 WHERE ISBN = #{isbn}
</select>


	<!-- 책 제목을 검색해서 조회 -->
	<select id="searchBookTitle" resultType="kr.fanfeed.entity.Book">
		SELECT * FROM BOOK WHERE
		TITLE LIKE '%${search}%'
	</select>
	<!-- ISBN을 검색해서 조회 -->
	<select id="searchBookIsbn" resultType="kr.fanfeed.entity.Book">
		SELECT * FROM BOOK WHERE
		ISBN = #{search}
	</select>

	<!-- 관련도서 조회  -->
	<select id="relationBook" resultType="kr.fanfeed.entity.Book">
	 SELECT * FROM (
	  SELECT * FROM BOOK WHERE ISBN !=#{isbn} and CATEGORY = #{category} ORDER BY DBMS_RANDOM.RANDOM
	) WHERE ROWNUM &lt;= 5
	</select>	

</mapper>

